body {
    font-family: Helvetica, sans-serif;
    background: url("https://cdn1.vectorstock.com/i/1000x1000/36/55/seamless-border-tropical-flowers-various-vector-26523655.jpg")no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    margin: 0px 0px; padding: 0px 0px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

footer {
    width: 100%;
    text-align: center;
    bottom: 0;
    position: static;
}

header {
    padding-top: 5%;
    min-height: 70px;
}

.container {
    background: url("https://img5.goodfon.com/wallpaper/nbig/3/bc/tropical-flowers-pattern-tekstura-fon-background-pattern-flo.jpg")no-repeat center center fixed;
    background-size: cover;
    width:100%;
    height: auto;
    position: fixed;
    margin: 10px, 10px;
}

.container img {
    float: left;
    border-radius: 100%;
    height: 4rem;
    width: 4rem;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.logo {
    float: left;
    font-family: Lobster;
    font-size: 30px;
    color: #7FFFD4;
}

.container nav {
    float: right;
    
}

.container nav li {
    display: inline-block;
    font-size: 1.5rem;
    font-family: Lobster;
    padding-top: 10px;
}

.container nav li a{
    padding: 30px 30px;
    color: #7FFFD4;
}

/* Menu Page Styling */

.titlepic h1 {
    font-family: Lobster;
    color: rgb(255, 255, 255);
    font-size: 50px;
    margin-top: 100px;
    padding: 0px;
}

.items {
    margin: 0px;
    text-align: center;
    width: 100%;
    top: 20%;
}

.items nav li {
    display: inline-block;
    padding: 15px 30px;
    font-family: Lobster;
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.74);
    cursor: pointer;
}

.items nav li a{
    color: white;
}

.items nav #sandwich{
    color: #7FFFD4;
}


/* Contact Us Page Styling */

.body {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.description {
    font-family: Lobster;
    color: rgb(255, 255, 255);
    font-size: 50px;
    margin-top: 100px;
    padding: 0px;
}

.info {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.info address {
    
}

.info .address h1 {
    font-family: Lobster Two;
    font-size: 30px;
    color: rgb(65, 238, 12);
    letter-spacing: 2px;
}

.info .address h2 {
    font-family: Lobster Two;
    font-size: 20px;
    color: rgb(166, 250, 222);
    letter-spacing: 2px;

}

.info .map {
    float: right;
    padding: 0px, 50px;
    border-radius: 50%;
}